// 颜色定义规范
//$color-background = #222
$color-background = #f4f4f4
$color-background-d = #000
$color-background-dd = #222
$color-background-l = #dedede
$color-background-t = #C2C2C2
$color-highlight-background = #fff
$color-dialog-background = #666
$color-theme1 = #ffcd32
$color-theme = #EE7600
//  $color-theme-d = rgba(255, 205, 49, 0.5)
$color-theme-d = rgba(49, 194, 124, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = #000
$color-text-dd = rgba(0, 0, 0, 0.3)
$color-text-ddd = rgba(0, 0, 0, 0.5)
$color-text-dddd = rgba(0, 0, 0, 0.8)
$color-text-l = rgba(255, 255, 255, 0.3)
$color-text-ll = rgba(255, 255, 255, 0.5)
$color-text-lll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 0.10rem
$font-size-small = 0.12rem
$font-size-medium = 0.14rem
$font-size-medium-x = 0.16rem
$font-size-large = 0.18rem
$font-size-large-x = 0.22rem
